{% extends "main-typeahead.html" %}
{% block content %}
<head>
    <link href="./static/css/custom.css" rel="stylesheet">
</head>


<style>
  
    body {
      height: 100%;
      margin: 0;
      font: 11px sans-serif;
      background-image: linear-gradient(120deg, #1DB954, #191414); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    background-attachment: fixed;
    }


  #playlist_retriever {
    
  }

  .player-scrollbar{
    height: 400px;
    width: 412px;
    margin: auto;
    text-align: center;
  }


  #playlist_track_view  {
    height: 600px;
    background-color: blue;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
  }

  .player-scrollbar-inner {
    width: 100%;
    height: 99%;
    overflow-y: scroll;
  }


  ::-webkit-scrollbar {
  display: none;
  }
    
    .dot {
      stroke: #000;
    }
    
    .tooltip {
      position: absolute;
      width: 200px;
      height: 28px;
      pointer-events: none;
    }

    #clustering, #song_summary, #song_statistics {
      margin: auto;
      text-align: center;
    }

    .based-on {
      font-size: 24pt;
      color: white;
    }

  

.bar--positive {
  fill: steelblue;
}

.bar--negative {
  fill: darkorange;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
    </style>

<script src="https://d3js.org/d3.v3.min.js"></script>

<body>
    <div id = "search-bar-container">
        <input type="text" data-role="tagsinput" placeholder="Search for a song"/>
        <div onclick="search()" class = "search-icon">
            <i class="fas fa-search fa-2x"></i>
        </div>
    </div>

    <div id = "clustering"></div>

    <div id = "song_summary"></div>

    <div id = "song_statistics"></div>

    <div id = "playlist_retriever">
      <button type="button" onclick="playlistRetriever()">Playlist Retriever </button>
      <div id = "playlist_track_view">

      </div>
    </div>

</body>

<script>

    // Clustering setup
    var margin = {top: 30, right: 0, bottom: 30, left: 0},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;
    
    /* 
     * value accessor - returns the value to encode for a given data object.
     * scale - maps value to a visual display encoding, such as a pixel position.
     * map function - maps from data value to display value
     * axis - sets up axis
     */ 
    
    // setup x 
    var xValue = function(d) { return d.x;}, // data -> value
        xScale = d3.scale.linear().range([0, width]), // value -> display
        xMap = function(d) { return xScale(xValue(d));}; // data -> display
    
    // setup y
    var yValue = function(d) { return d.y;}, // data -> value
        yScale = d3.scale.linear().range([height, 0]), // value -> display
        yMap = function(d) { return yScale(yValue(d));}; // data -> display
    
    // setup fill color
    var cValue = function(d) { return d.cluster;},
        color = d3.scale.category10();
    
    // add the graph canvas to the body of the webpage
    var svg = d3.select("#clustering").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    // add the tooltip area to the webpage
    var tooltip = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);



    // Bar Chart Set-up
    var bar_chart_margin = {top: 20, right: 30, bottom: 40, left: 30},
    bar_width = 960 - bar_chart_margin.left - bar_chart_margin.right,
    bar_height = 500 - bar_chart_margin.top - bar_chart_margin.bottom;

var x = d3.scale.linear()
    .range([0, bar_width]);

var y = d3.scale.ordinal()
    .rangeRoundBands([0, bar_height], 0.1);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickSize(0)
    .tickPadding(6);
    </script>


<script>
var songs = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('song_name', 'artist'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: {
    url: 'static/song_id_and_names_0_63233.json',
    filter: function(list) {
    return list.songs;
    }
  }
});

songs.clearPrefetchCache();
songs.initialize();

var elt = $('input');
elt.tagsinput({
  itemValue: 'song_id',
  itemText: function(song){
    return song.song_name + ' - ' + song.artist;
    },
  typeaheadjs: {
    name: 'songs',
    limit: 10,
    displayKey: function(song){
      return song.song_name + ' - ' + song.artist;
    },
    source: songs.ttAdapter()
  }
});

function loadClustering(song_id, relevant_points) {
// load data
      var data = relevant_points;
      data = data.filter(function(song) {
        return song['top_10'] == true;
      });

      console.log(relevant_points);

      // change string (from CSV) into number format
      data.forEach(function(d) {
        d.X = +d.X;
        d.Y = +d.Y;
      });
    
      // don't want dots overlapping axis, so add in buffer to data domain
      xScale.domain([d3.min(data, xValue)-0.01, d3.max(data, xValue)+0.01]);
      yScale.domain([d3.min(data, yValue)-0.01, d3.max(data, yValue)+0.01]);
    
    
      // draw dots
      svg.selectAll(".dot")
          .data(data)
        .enter().append("circle")
          .attr("class", "dot")
          .attr("r", function(d) {
              if(d['top_10'] == true) {
                return 8.0;
              }
              else {
                return 4.0;
              }
          })
          .attr("cx", xMap)
          .attr("cy", yMap)
          .style("fill", function(d) { 
              return color(cValue(d));
          })
          .style("opacity", function(d) { 
            if(d['top_10'] == true) {
                return '0.9';
              }
              else {
                return '0.6';
              }
          })
          .style("stroke-width", function(d) {
            if(d['song_id'] == song_id) {
              return 5;
            }
          })
          .on("mouseover", function(d) {
            d3.selectAll('circle').style("r", function(dot){
              if(d['top_10'] && dot['top_10']){
                return 10.0;
              } 
              else if (d['top_10'] && (d['cluster'] == dot['cluster'])){
                return 5.0
              }
              else if(d['top_10'] == false && dot['top_10'] == false && (d['cluster'] == dot['cluster'])) {
                return 5.0;
              }
            });
              
              tooltip.transition()
                   .duration(200)
                   .style("opacity", .9);
              tooltip.html(d.song_name + " - " + d.artist + "<br/>")
                   .style("left", (d3.event.pageX + 5) + "px")
                   .style("top", (d3.event.pageY - 28) + "px");
          })
          .on("mouseout", function(d) {
            d3.selectAll('circle').style("r", function(dot){
              if(d['top_10'] && dot['top_10']){
                return 8.0;
              } 
              else if (d['top_10'] && (d['cluster'] == dot['cluster'])){
                return 4.0;
              }
              else if(d['top_10'] == false && dot['top_10'] == false && (d['cluster'] == dot['cluster'])) {
                return 4.0;
              }
            });
              tooltip.transition()
                   .duration(500)
                   .style("opacity", 0);
          });   
}

function createSongSummary(song_id, points) {
  var song_summary_container = document.getElementById ("song_summary");
  console.log(song_summary_container);


  var basedOnElem = document.createElement("h1");
  basedOnElem.className = "based-on";
  var matching_songs = points.filter(function(song) {
    return song.song_id == song_id;
  });
  song_name = matching_songs[0].song_name;
  song_artist = matching_songs[0].artist;
  var str = "Based on the song " + song_name + " by " + song_artist + " you are suggested: " 
  var text = document.createTextNode(str);
  basedOnElem.appendChild(text);

  song_summary_container.appendChild(basedOnElem);


  var matching_song_ids = [matching_songs[0].song_1, matching_songs[0].song_2, matching_songs[0].song_3, matching_songs[0].song_4, matching_songs[0].song_5, matching_songs[0].song_6, matching_songs[0].song_7, matching_songs[0].song_8, matching_songs[0].song_9, matching_songs[0].song_10];
  var matching_song_data = points.filter(function(song) {
    return matching_song_ids.includes(song.song_id);
  });
  var matching_song_names = []
  var matching_song_artists = []


  for(i = 0; i < points.length; i++) {
    song = points[i];
    if(matching_song_ids.indexOf(song.song_id) > -1) {
      matching_song_names.push(song.song_name);
      matching_song_artists.push(song.artist);
    }
  }
  var meanAcousticness = d3.mean(matching_song_data, function(d) { return d.acousticness;});
  console.log(meanAcousticness);
  var meanDanceability = d3.mean(matching_song_data, function(d) { return d.danceability;});
  var meanEnergy = d3.mean(matching_song_data, function(d) { return d.energy;});
  var meanInstrumentalness = d3.mean(matching_song_data, function(d) { return d.instrumentalness;});
  var meanLoudness = d3.mean(matching_song_data, function(d) { return d.loudness;});
  var meanTempo = d3.mean(matching_song_data, function(d) { return d.tempo;});
  var meanSpeechiness = d3.mean(matching_song_data, function(d) { return d.speechiness;});

  
  // Append song players 
  song_previews = []
  var player_container = document.createElement("div");
  player_container.className = "player-scrollbar";
  for(i = 0; i < matching_song_ids.length; i++) {
    var iframe = document.createElement('iframe');
    iframe.src = "https://open.spotify.com/embed/track/" + matching_song_ids[i];
    iframe.width = "400";
    iframe.height = "80";
    iframe.frameBorder = "0";
    iframe.allowtransparency = "true";
    iframe.allow = "encrypted-media";
    player_container.appendChild(iframe);
  }

  song_summary_container.appendChild(player_container);
}


function createSongStatistics(song_name, artist, song_feature_percentiles) {

  song_feature_percentiles = song_feature_percentiles.slice(-10);
  song_feature_percentiles = song_feature_percentiles.map(function(d) {
    d.value = (d.value - 0.5)*2;
    return d;
  })
  //song_feature_percentiles = {acousticness: 80, instrumentalness: 25, energy: -20, danceability: -50};
  console.log(song_feature_percentiles);
  var svg = d3.select("body").append("svg")
    .attr("width", bar_width + bar_chart_margin.left + bar_chart_margin.right)
    .attr("height", bar_height + bar_chart_margin.top + bar_chart_margin.bottom)
  .append("g")
    .attr("transform", "translate(" + bar_chart_margin.left + "," + bar_chart_margin.top + ")");

  x.domain([d3.min(song_feature_percentiles, function(d) {return d.value;}), d3.max(song_feature_percentiles, function(d) {return d.value;})]);
  y.domain(song_feature_percentiles.map(function(d) { return d.feature; }));


  svg.selectAll(".bar")
      .data(song_feature_percentiles)
    .enter().append("rect")
      .attr("class", function(d) { return "bar bar--" + (d.value < 0 ? "negative" : "positive"); })
      .attr("x", function(d) { console.log("x"); console.log(d.value); console.log(typeof(d.value)); return x(Math.min(0, d.value)); })
      .attr("y", function(d) { return y(d.feature); })
      .attr("width", function(d) {console.log("width"); console.log(d.value); return Math.abs(x(d.value) - x(0)); })
      .attr("height", y.rangeBand());

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + bar_height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(" + x(0) + ",0)")
      .call(yAxis);

  function type(d) {
    d.value = +d.value;
    return d;
  }
}

// Called whenever you click on a playlist name
function playlistOnClick(playlist_id) {
  playlistTrackRetriever(playlist_id);
}

function generateTrackViewForPlaylist(track_ids) {
  var playlist_retriever_container = document.getElementById("playlist_track_view");
  console.log("generate track view for playlist", track_ids);
  song_previews = []
  var player_container = document.createElement("div");
  player_container.className = "player-scrollbar-inner";
  for(i = 0; i < track_ids.length; i++){
    let track_id = track_ids[i];
    var iframe = document.createElement('iframe');
    iframe.src = "https://open.spotify.com/embed/track/" + track_id;
    iframe.width = "400";
    iframe.height = "80";
    iframe.frameBorder = "0";
    iframe.allowtransparency = "true";
    iframe.allow = "encrypted-media";
    player_container.appendChild(iframe);
  }
  playlist_retriever_container.append(player_container);

  console.log("finished generating tracks2");
}

function createPlaylistSelector(playlist_data) {
  let playlist_selector_container = document.getElementById("playlist_retriever");
  for(i = 0; i < playlist_data.length; i++) {

    let playlist = playlist_data[i];
    let playlist_text = document.createElement("div");
    playlist_text.onclick = function() {playlistOnClick(playlist.playlist_id);};
    playlist_text.innerHTML = playlist.playlist_name;
    playlist_selector_container.appendChild(playlist_text);
  }
}

function search(){
  var song_ids = document.getElementsByTagName("input")[2].value;
  song_ids = String(song_ids)
  d3.selectAll(".dot").remove();
  d3.select("#song_summary").selectAll("*").remove();
  $.ajax({
            url: '/songSearchHandler',
            data: JSON.stringify({'song_ids':song_ids}),
            contentType: "application/json",
            type: 'POST',
            success: function(response) {
              value = JSON.parse(response)
              foo = JSON.parse(value.relevant_points.replace(/\bNaN\b/g, "null"));
              loadClustering(value.id, foo);
              createSongSummary(value.id, foo);
              createSongStatistics(value.song_name, value.artist, JSON.parse(value.percentile_data));
            },
            error: function(error) {
              console.log("ERROR")
                console.log(error);
            }
        });
}

function playlistRetriever() {
  $.ajax({
    url: '/playlistRetriever',
    contentType: "application/json",
    type: 'POST',
    success: function(response) {
      response = JSON.parse(response);
      console.log(response);
      createPlaylistSelector(response);
      
    },
    error: function(error) {
      console.log("ERROR IN PLAYLIST RETRIEVER")
    }
  });
}

function playlistTrackRetriever(playlist_id) {
  $.ajax({
    url: '/playlistTrackRetriever',
    data: JSON.stringify({'playlist_id':playlist_id}),
    contentType: "application/json",
    type: 'POST',
    success: function(response) {
      response = JSON.parse(response);
      console.log(response);

      generateTrackViewForPlaylist(response.playlist_track_ids);
      console.log("finished generating tracks");

    },
    error: function(error) {
      console.log("ERROR IN PLAYLIST TRACK RETRIEVER");
    }
  });
}

</script>

{% endblock %}